body {
    margin: 0;
}

.imgLogo {
    width: 20%;
    display: block;
    margin: auto;
}



#informatique {
    background-color: #eeeeee;
}

#sauvegarde {
    background-color: #393e46;
}

p {
    margin: 0;
}

/*Main Menu*/
#mainMenu {
    background-color: #222831;
    color: #eeeeee;
}
.phoneNumber{
    text-align: center;
}
.tile {
    width: 200px;
    height: 200px;
}

