body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.imgLogo {
  width: 200px;
  display: block;
  margin: auto;
  padding-top: 40px;
}

p {
  margin: 0;
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

/*Main Menu*/
#mainMenu {
  background-color: #222831;
  color: #eeeeee;
}

.phoneNumber {
  text-align: center;
  padding: 0 0 60px 0;
}

.tile {
  position: relative;
  width: 100%;
  padding-top: 100%;
  margin-bottom: 30px;
  background-color: #00adb5;
}

.tile:hover {
  left: 5px;
  bottom: 5px;
  box-shadow: rgba(255, 255, 255, 0.5) -5px 5px 3px;
}

.tile i {
  position: absolute;
  display: block;
  font-size: 5vw;
  text-align: center;
  padding: 30px 0 0 0;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
}

.menuTitle {
  text-align: center;
  font-size: 1.7vw;
  padding: 15px 0 0 0;
  word-wrap: break-word;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mainMenuContainer {
  width: 70%;
}



/* Informatique section */

#informatique {
  background-color: #eeeeee;
}

#informatique h1 {
  text-align: center;
  padding: 40px 0 40px 0;
  font-weight: 700;
}

#informatique h3 {
  font-weight: 700;
}

#informatique i {
  font-size: 4rem;
  display: block;
}

.informatiqueContainer {
  width: 70%;
}

.servicesIco {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2rem;
  margin-left: 2rem;
}

.serviceList {
  margin: 0;
}

.wrap {
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 2rem;
  height: 90%;
  /* border: 3px solid; */
}

#informatique p {
  line-height: 2rem;
}

#informatique ul {
  padding-left: 15px;
  list-style: none;
}


/* Sauvegardes section */
#sauvegarde {
  color: #eeeeee;
  text-align: center;
  background-color: #393e46;
}

.sauvegardeContainer {
  width: 70%;
}

#sauvegarde h1 {
  padding: 40px 0 40px 0;
}

#sauvegarde h2 {
  padding: 0 0 20px 0;
}

#sauvegarde h3 {
  padding: 40px 0 20px 0;
}

#sauvegarde p {
  padding: 20px 0 20px 0;
}

.sauvegardeList {
  padding: 0 15% 0 15%;
}

.sauvegardeList li {
  margin: 0 0 30px 0;
  list-style: none;
}

#sauvegarde .card {
  background-color: #393e46;
  margin-bottom: 30px;
}

#sauvegarde .card-body {
  background-color: #eeeeee;
}

#sauvegarde h5 {
  color: #393e46;
  font-size: 1vw;
}

#sauvegarde btn {
  background-color: #393e46;
}

/* Contact section */
#contact {
  background-color: #eeeeee;
}

#contact .header {
  text-align: center;
  font-size: 46px;
  padding-top: 30px;
}

#contact .form {
  text-align: center;
  width: 50%;
  margin: auto;
}

#contact .form input {
  width: 100%;
  margin: 20px 0;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #222831;
}

#contact .form input:last-child {
  margin-top: 60px;
}

/* MOBILE DEVICES */
@media only screen and (max-width: 767px) {
  .mainMenuContainer {
    /* Helps the tiles to not look too squished */
    width: 100%;
  }

  .tile i {
    font-size: 15vw;
  }

  .menuTitle {
    font-size: 4vw;
  }

  /* Informatique Section */
  .informatiqueContainer {
    width: 100%;
  }

  div .wrap {
    display: inline;
  }
  .wrap i,h3,p,li {
    text-align: center;
  }



  /* sauvegarde Section */
  .sauvegardeContainer {
    width: 100%;
  }

  .sauvegardeList {
    padding: 0 5% 0 5%;
  }

  #sauvegarde h5 {
    font-size: 4vw;
  }

  #sauvegarde .btn {
    font-size: 4vw;
  }
}