body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


#informatique {
    background-color: #eeeeee;
}

#sauvegarde {
    background-color: #393e46;
}

p {
    margin: 0;
}

/*Main Menu*/
#mainMenu {
    background-color: #222831;
    color: #eeeeee;
}
.imgLogo {
    padding: 30px;
    width: 260px;
    display: block;
    margin: auto;
}
.phoneNumber {
    text-align: center;
    padding-bottom: 30px;
}

.tile {
    width: 200px;
    height: 200px;
    border: 1px solid white;
}
.menuTitle {
    text-align: center;
    font-size: 1.5rem;
}
